<header>
  <div class="container">
    <div class="header-inner">
      <div>
        <span class="header-brand font-newsreader">World Peas</span>
      </div>

      <div class="hedear-right">
        <nav class="header-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop.html">Shop</a></li>
            <li><a href="#">Who we are</a></li>
            <li><a href="#">My profile</a></li>
          </ul>
        </nav>
        <a class="header-basket primary-green-btn" href="/basket.html">Basket (3)</a>
      </div>
    </div>


  </div>
</header>