<article class="product-card primary-rounded-card" data-id="" data-price="">

    <img src="img\ed-o-neil-AvvdZlhDowA-unsplash 1.jpg" alt="ed-o-neil-AvvdZlhDowA-unsplash 1"
        class="product-card--image">

    <div class="product-card--info">

        <h1 class="product-card--title">Heirloom tomato</h1>
        <div class="product-card--price">$5.99 / lb</div>
        <div class="product-card--note">Grown in San Juan Capistrano, CA</div>

    </div>
    <a class="primary-green-btn product-link">Add to the basket</a>
</article>